<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GORNIK ZABRZE</title>
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <!--nav  in mobile mode-->
    <%-include ('./includes/Nav_phone.ejs') %>
        <!--nav  in mobile mode-->
        <%-include ('./includes/Nav_desktop.ejs') %>
            <!--slider--->
            <%-include ('./includes/slider.ejs') %>
                <!--slider--->
                <%-include ('./includes/heroCon.ejs') %>
                    <!--season--->
                    <%-include ('./includes/season.ejs') %>
                        <!--matchtext--->
                        <%-include ('./includes/matchtext.ejs') %>
                            <!--fanstore--->

                            <%-include ('./includes/fanstore.ejs') %>
                                <!--footer--->

                                <%-include ('./includes/footer.ejs') %>
                                    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
                                    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
                                    <script src="js/script.js "></script>


</body>

</html>
</body>

</html>

</html>